@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "about";
    <h3> What is Khumalo Crafts? </h3>
    <br />
    <p>Khumalo crafts is an international emporium for handcrafted,exquisite local crafts, made by the communities of africa. These crafts are then sold to the world, helping the communities with employment and spreading the culture of africa to the world. James Khumalo, the founder of Khumalo Crafts Emporium, started this company with the vision of spreading the beauty of Africa and its people to the global community. </p>
}
<style>
    .center-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .center-text {
        text-align: center;
    }
</style>
<img src="\images\OIG4.PTC2yF6.M.jpeg" width=600 height=600 class="center-image">
<p class="center-text">
    <b> Our dedicated craftsmen at work </b>
</p>
