@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    

    <h1 class="display-4">Khumalo Craft</h1>
    <p>Welcome to the Homepage of Khumalo Craft.</p>
    <br />
    <br />
    <br />
    <img src="images\istockphoto-909005356-2048x2048.jpg" width=400 height=300>
    
</div>
