@{
    ViewData["Title"] = "My Work";
}
<h1>My Work:</h1>
<style>
    .center-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .center-text {
        text-align: center;
    }

    .white-square {
        position: absolute;
        background-color: #FFFFFF;
        width: 50px; /* Adjust the width as needed */
        height: 50px; /* Adjust the height as needed */
        padding: 20px; /* Optional: Adds some space inside the square */
        z-index: -1; /* Ensures the square stays behind the content */
    }

 
    <div class="white-square" > </div >
</style>
<p>Khumalo Craft Emporium has a wide variety of handmade, artisan goods from local craftsman from all across the african landscape. Whether its from Morroco, Gambia, Somalia or Limpopo, we have what you are looking for. Please take a look below at some of the offerings we have available below and remember; every purchase made supports the local artisans and allows them to keep their traditions alive and support their families.</p>
<br />
<img src="\images\_44872b86-88a7-4372-b307-00763958c852.jpeg" width=400 height=300 class="center-image">
<p class="center-text">
    <b> Gambian Wooden Bowl </b>
</p>
<p class="center-text">
    Price: R350 <button type="button">Buy</button>

</p>

<img src="\images\_48ba809c-9b61-4eab-b768-48110677976f.jpeg" width=400 height=300 class="center-image">
<p class="center-text">
    <b> East African Mother Son Wooden Scuplture </b>
</p>
<p class="center-text">
    Price: R300 <button type="button">Buy</button>

</p>
<img src="\images\_8c21cbeb-fda9-4b4e-b14d-fa0f6bda9a10.jpeg" width=400 height=300 class="center-image">
<p class="center-text">
    <b> 100% cotton Malawian Shirt </b>
</p>
<p class="center-text">
    Price: R300 <button type="button">Buy</button>

</p>

<img src="\images\plate.jpg" width=400 height=300 class="center-image">
<p class="center-text">
    <b> decorative DRC made plate </b>
</p>
<p class="center-text">
    Price: R200 <button type="button">Buy</button>

</p>

<img src="\images\2010-06-1623.07.25.jpg" width=400 height=200 class="center-image">
<p class="center-text">
    <b> Authentic Goatskin Ceremonial Drum </b>
</p>
<p class="center-text">
    Price: R800 <button type="button">Buy</button>

</p>
   
